@font-face {
    font-family: 'Gabriola';
    src: '../fonts/Gabriola.ttf';
}

@font-face {
    font-family: 'Ail et Fines Herbes';
    src: '../fonts/Ail et Fines Herbes.ttf';
} 
body,
p,
h1,
form,
input,
button {
    margin: 0;
    padding: 0; 
    font-family: 'Quicksand', sans-serif;
    color: #4d4d4d;
}
body { 
    width: 100%;
}

* {
    box-sizing: border-box;
}

h1 {
    color: #2B2C6E;
    font-family: 'Gabriola', sans-serif;
    font-size: 2.4em; 
}

h1:after {
    content: "";
    display: block;
    width: 47px;
    position: relative;
    bottom: 15px;
    height: 2px;
    background: #D32D2C;
}

h2 {
    color: #D32D2C;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25em;
}

h3 {
    font-family: 'Gabriola', sans-serif;
    font-size: 1.45em;
    padding: 0px;
    margin: 5px 0px 0px;
}

p {
    text-align: justify;
    font-size: 1em;
    line-height: 27px; 
    letter-spacing: 1.8px;
    padding: 20px 0px 0px;
}

img {
    display: block;
}

.container {
    max-width: 820px;
    margin: 0 auto;
}

.container.consultoria { 
    padding: 70px  30px 0px;
}

.first-quote {
    font-weight: 700;
}

.container.diferenciais { 
    padding: 33px 30px 0px;
}

.container-card-diferenciais {
    display: flex;
}

.container-card-diferenciais .card {
    color: #4d4d4d;
    height: 340px;
    text-align: center;
    padding: 16px;
    margin-right: 15px;
    border-bottom: 5px solid #2B2C6E;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-radius: 2%;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.3);
}

.container-card-diferenciais .card img {
    margin: auto;
}
 

.container.about { 
    padding: 70px 30px 0px;
}
.container.depoimentos { 
    padding: 70px 30px 0px;
}

.container.duvidasfrequentes { 
    padding: 70px 30px 70px;
}

.container-duvidas {
    padding: 20px 0px 0px;
}
.accordion {
    background-color: #eeeeee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom: 5px;
  }
  
  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .activequestion:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .activequestion, .accordion:hover {
    opacity: .7;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    margin-bottom: 10px;
  }

.container.planos { 
    padding: 70px  30px 0px;
}

.radio {
    display: flex;
    justify-content: space-evenly;
    max-width: 600px;
    cursor: pointer;
    border: 1px solid #D32D2C;
    border-radius: 20px;
    margin: 20px auto 0px
}

.radio label {
    margin: 0;
    cursor: pointer;
    color: #D32D2C;
    width: 100%;
}

.radio label div {
    border-radius: 35px;
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio input {
    opacity: 0;
}

.radio input:checked+div {
    background: #D32D2C;
    color: #fff;
}

.container.contato {
    padding: 100px 30px 70px;
}

.container-card-price .card p.plan-price .currency {
    font-size: 0.5em;
}
.container-card-price .primeiro, .container-card-price .segundo {
    display: flex;
    padding: 20px 0px 0px;
    flex-wrap: wrap;
}
.container-card-price .card { 
    border-top: 5px solid #D32D2C;   
    text-align: center;
    width: 31%;
    height: 301px;     
    padding: 0px 29px;
    margin: 0px 15px 15px 0px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee; 
    border-radius: 2%;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.3);
}

.container-card-price .card p.plan-price {
    padding: 0px;
    font-weight: bold;
    font-size: 2em; 
    text-align: center;
    color: #D32D2C;
}

.container-card-price .card p.plan-description {
    font-size: 0.8em; 
    text-align: center;
}
button.btn-plan { 
    background:#D32D2C;
    border-radius: 25px;
    border: 1px solid #D32D2C;
    cursor: pointer;
    color: #ffffff;
    padding: 6px;
    margin-top: 26px;
    transition: 0.3s;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.3);
}

button.btn-plan:hover {
    border: 1px solid #D32D2C;
    background: transparent;
    color: #D32D2C;
}

.container-check {
    display: flex; 
    font-size: 0.6875em;
    text-align: left;
}

.img-check {
    width: 10px;
    height: 10px;
    margin-right: 15px;
}

button.btn-plan:focus {
    outline: none;
}

header {
    position: fixed;
    background-color: #2B2C6E; 
    width: 100%; 
    height: 75px;
    z-index: 1; 
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.3);
} 
   .svg-whatsapp {
    position: fixed;
    bottom: 17px;
    right: 17px;
    z-index: 9999;
    background: rgb(33, 211, 102);
    padding: 8px;
    border-radius: 50%;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3);
    border: 0px solid rgba(255, 255, 255, 1);
    box-sizing: border-box;
    width: 44px;
    height: 44px;
   }

   svg {width: 21px;
    height: 28px;
    position: relative;
    left: 4px;
   }
   svg g {
    fill: #fff;
   }
.navbar { 
    font-family: 'Gabriola', sans-serif;
    display: flex;
    list-style: none; 
} 
 
.navbar li {
    padding: 13px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.4em;
}

.navbar a:hover {
    opacity: .9;
}

header.scroll .logo {
        width: 145px;
        height: 54px; 
        margin: 0px 41px;
}
header.scroll ul.navbar {
    padding-top: 10px;
    margin: 0px;
}

header.scroll {
    margin: 0px;
    height: 50px; 
}

header.scroll li {
    padding: 0px 13px;
}

.containerhamburger {
    display: none;
}
  .containerhamburger { 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 16px;
    right: 19px;
}

  .hamburger {
    position: relative;
    display: block;
    background: #fff;
    width: 30px;
    height: 3px;
    top: 19px;
    left: 10px;
    transition: .5s ease-in-out;
  }

  .hamburger:before, .hamburger:after {
      background: #fff;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      transition: .5s ease-in-out;
  }

  .hamburger:before {
    top: -10px;
  }

  .hamburger:after {
    bottom: -10px;
  }

  .hamburger.active {
    transform: rotate(45deg);
    height: 2px;
    }

    .hamburger.active:before {
        transform: rotate(90deg);
        top: 0px;
        height: 0px;
    }

    .hamburger.active:after {
        transform: rotate(90deg);
        bottom: 0px;
        height: 2px;
    }

.logo {
    width: 204px;
    height: 77px;
    margin: 0px 41px;
}
 
  

section#intro {
    padding-top: 112px;
    background-image: url('../img/academia.jpg');
    height: 550px;  
    position: relative;
}

.intro {
    position: absolute;
    bottom: 0px;
    background: rgba(0,0,0,0.6);
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 20px;
    font-size: 12px;
    font-style: italic;
}
 
.container.about {
    display: flex;  
    flex-wrap: wrap;
    justify-content: center; 
}
.aboutme {
    width: 50%;
    text-align: justify;
    padding-right: 30px;
}

.aboutme p {
    padding: 20px 0px 20px;
}

.about .personal { 
    width: 100%;
    border-radius: 2%;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.3);
} 

.social-media {
    display: flex;
    justify-content: center;
}

.social-media img {
    padding-left: 20px;
    padding-right: 10px;
}

footer { 
    padding: 100px 30px 0px;
    background-color: #2B2C6E;
    padding: 10px;
    text-align: center; 
}

footer p {
    padding: 0px;
    color: #fff;
    font-size: 10px;
}
 

@media screen and (max-width: 915px) { 
    .containerhamburger {
        display: inline;
    }

    .container.about {
        padding-right: 30px;
    }
    header { 
        height: 70px; 
    }
    
    .menu .navbar {
        display: none;
    }
      .menu.active .navbar {
        display: inline;
      }

    .menu.active {
        position: absolute;
        right: 0px;
        top: 40px;
        width: 100%;
    }

    section#intro {
        padding-top: 112px;
        background-image: url(../img/academia.jpg);
        background-size: 930px;
        height: 421px;
        position: relative;
    }

    .intro {
        font-size: 0.7em;
    }
    
    .menu.active li {
        background: rgba(43,44,110,0.97);
    }

    .menu.active a {
        float: none;
        display: block;
        text-align: center;
    }
      .logo {
        width: 190px;
        height: 69px;
        position: absolute;
        left: 40px;
        margin: 0px;
    }
  }

  @media screen and (max-width: 700px) {
      .aboutme {
          width: 100%;
          padding-top: 30px;
          padding-right: 0px;
      }
      .about .personal {
        width: 100%;
      }

      .container-card-price {
        flex-direction: column;
    }

    .container-card-price .card {
        width: 100%;
        margin: 15px 0px;
    }

    .container-card-diferenciais {
        flex-wrap: wrap;
    }

    .container-card-diferenciais .card {
        width: 100%;
        margin: 5px; 
        height: 281px;
        margin-right: 15px;
    }
    .container-card-diferenciais .card img {    
        width: 30%;
    }
    h1 {
        font-size: 1.7em;
    }

    h1:after {
        top: 3px;
    }
  }

  @media screen and (max-width: 425px) {
    section#intro {
        padding-top: 112px;
        background-image: url(../img/academia.jpg);
        background-size: 414px;
        background-position: 0px 65px;
        height: 341px;
        position: relative;
    }

    .intro {
        padding: 8px;
    }
  }