@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400&display=swap');

body,
p,
h1,
form,
input,
button {
    margin: 0;
    padding: 0; 
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f2f2f2;
    width: 100%;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

header {
    position: fixed;
    width: 100%; 
    height: 75px;
    z-index: 1;
}
  
.fundo_roxo {
    background-color: #2B2C6E; 
    transition: all 0.2s ease;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}
.navbar { 
    display: flex;
    list-style: none;
} 
.navbar li {
    padding: 13px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.navbar a:hover {
    opacity: .9;
}

.containerhamburger {
    display: none;
}
  .containerhamburger {
    background: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 12px;
    right: 12px;
}

  .hamburger {
    position: relative;
    display: block;
    background: #000;
    width: 20px;
    height: 3px;
    top: 19px;
    left: 9px;
    transition: .5s ease-in-out;
  }

  .hamburger:before, .hamburger:after {
      background: #000;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      transition: .5s ease-in-out;
  }

  .hamburger:before {
    top: -8px;
  }

  .hamburger:after {
    bottom: -8px;
  }

  .hamburger.active {
    transform: rotate(45deg);
    height: 2px;
    }

    .hamburger.active:before {
        transform: rotate(90deg);
        top: 0px;
        height: 0px;
    }

    .hamburger.active:after {
        transform: rotate(90deg);
        bottom: 0px;
        height: 2px;
    }

.logo {
    width: 204px;
    height: 77px;
}
 
  

section#intro {
    padding-top: 112px;
    background-image: url('../img/academia.jpg');
    height: 550px;
}
 
.container.about {
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}
.aboutme {
    width: 50%;
    text-align: justify;
    padding-left: 30px;
}

.about img { 
    width: 318px;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.3);
} 

footer {
    background-color: #D32D2C;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.25);
}

footer p {
    color: #fff;
}


@media screen and (max-width: 850px) { 
    .containerhamburger {
        display: inline;
    }
    header {
        height: 60px;
        background-color: #2B2C6E;
    }
    
    .menu .navbar {
        display: none;
    }
      .menu.active .navbar {
        display: inline;
      }

    .menu.active {
        position: absolute;
        right: 0px;
        top: 40px;
        width: 100%;
    }
    
    .menu.active li {
        background: #2B2C6E;
    }

    .menu.active a {
        float: none;
        display: block;
        text-align: center;
    }
      .logo {
        width: 190px;
        height: 69px;
        position: absolute;
        left: 16px;
    }
  }