@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400&display=swap');

body,
p,
h1,
form,
input,
button {
    margin: 0;
    padding: 0; 
    font-family: 'Roboto', sans-serif;
    color: #4d4d4d;
}
body { 
    width: 100%;
}

* {
    box-sizing: border-box;
}

h1 {
    color: #2B2C6E;
    text-transform: uppercase;
    font-size: 1.625em; 
    padding-bottom: 20px;
}

h1:after {
    content: "";
    display: block;
    width: 83px;
    height: 2px;
    background: #D42D2C;
}

p {
    text-align: justify;
    font-size: 1em;
    line-height: 27px; 
    padding: 20px 0px 0px;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 970px;
    margin: 0 auto;
}

.container.about { 
    padding: 100px 30px 0px;
}
.container.depoimentos { 
    padding: 100px 30px 0px;
}

.container.duvidasfrequentes { 
    padding: 100px 30px 0px;
}

.container-duvidas {
    padding: 20px 0px 0px;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .activequestion:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .activequestion, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

.container.planos { 
    padding: 100px 30px 0px;
}

.container.contato {
    padding: 100px 30px 70px;
}

.container-card {
    display: flex;
    padding: 20px 0px 0px;
}
.card { 
    border-top: 5px solid #D32D2C;   
    width: 33%;
    height: 301px; 
    margin-right: 15px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee; 
    border-radius: 2%;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.3);
}

header {
    position: fixed;
    width: 100%; 
    height: 75px;
    z-index: 1; 
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.3);
}
   
.navbar { 
    display: flex;
    list-style: none; 
    background-color: #2B2C6E; 
} 
 
.navbar li {
    padding: 13px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar a:hover {
    opacity: .9;
}

.containerhamburger {
    display: none;
}
  .containerhamburger { 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 16px;
    right: 19px;
}

  .hamburger {
    position: relative;
    display: block;
    background: #fff;
    width: 30px;
    height: 3px;
    top: 19px;
    left: 10px;
    transition: .5s ease-in-out;
  }

  .hamburger:before, .hamburger:after {
      background: #fff;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      transition: .5s ease-in-out;
  }

  .hamburger:before {
    top: -10px;
  }

  .hamburger:after {
    bottom: -10px;
  }

  .hamburger.active {
    transform: rotate(45deg);
    height: 2px;
    }

    .hamburger.active:before {
        transform: rotate(90deg);
        top: 0px;
        height: 0px;
    }

    .hamburger.active:after {
        transform: rotate(90deg);
        bottom: 0px;
        height: 2px;
    }

.logo {
    width: 204px;
    height: 77px;
}
 
  

section#intro {
    padding-top: 112px;
    background-image: url('../img/academia.jpg');
    height: 550px;  
}
 
.container.about {
    display: flex;  
    flex-wrap: wrap;
    justify-content: center; 
}
.aboutme {
    width: 50%;
    text-align: justify;
    padding-right: 30px;
}

.about img { 
    width: 100%;
    border-radius: 2%;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.3);
} 

footer { 
    padding: 100px 30px 0px;
    background-color: #2B2C6E;
    padding: 10px;
    text-align: center; 
}

footer p {
    padding: 0px;
    color: #fff; 
    text-align: center;
}
 

@media screen and (max-width: 850px) { 
    .containerhamburger {
        display: inline;
    }

    .container.about {
        padding-right: 30px;
    }
    header { 
        height: 70px; 
    }
    
    .menu .navbar {
        display: none;
    }
      .menu.active .navbar {
        display: inline;
      }

    .menu.active {
        position: absolute;
        right: 0px;
        top: 40px;
        width: 100%;
    }
    
    .menu.active li {
        background: #2B2C6E;
    }

    .menu.active a {
        float: none;
        display: block;
        text-align: center;
    }
      .logo {
        width: 190px;
        height: 69px;
        position: absolute;
        left: 40px;
    }
  }

  @media screen and (max-width: 700px) {
      .aboutme {
          width: 100%;
          padding-top: 30px;
      }
      .about img {
        width: 100%;
      }

      .container-card {
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin: 15px 0px;
    }

    h1 {
        font-size: 1.6em;
    }
  }